<nav class="absolute inset-x-0 top-0 z-50 bg-slate-100 border-b border-gray-200  ">
  <div class="pt-5 pb-3 px-8">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-bold text-gray-800">
        <%= link_to landing_path, class: "flex items-center" do %>
          <%= image_tag "logos/Billi_Logo_Dark.png", class: "h-8" %>
        <% end %>
      </div>

      <div class="hidden md:flex gap-4 justify-between">
        <% if user_signed_in? %>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="m-1 bg-transparent border-none hover:bg-transparent">
              <i class="fas fa-user text-gray-800 hover:text-gray-600 transition-colors text-xl"></i>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[100] w-52 p-2 shadow-sm">
              <li><%= link_to root_path, class: "flex items-center gap-2" do %>
                <i class="fas fa-chart-line"></i> Dashboard
              <% end %></li>
              <li><%= link_to user_profile_path, class: "flex items-center gap-2" do %>
                <i class="fas fa-user"></i> Profile
              <% end %></li>
              <li><%= button_to destroy_user_session_path, method: :delete, class: "flex items-center gap-2 w-full text-left" do %>
                <i class="fas fa-sign-out-alt"></i> Sign Out
              <% end %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
