<div class="container mx-auto p-8">
  <h2 class="text-2xl font-bold mb-4">Transaction Analysis</h2>

  <%= render 'shared/charts' %>

  <!-- Table Displaying Transaction Data -->
  <table class="min-w-full bg-white border">
    <thead>
      <tr>
        <th class="py-2 px-4 border">Date</th>
        <th class="py-2 px-4 border">Country</th>
        <th class="py-2 px-4 border">Merchant</th>
        <th class="py-2 px-4 border">Category</th>
        <th class="py-2 px-4 border">Amount</th>
        <th class="py-2 px-4 border">Currency</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |tx| %>
        <tr>
          <td class="py-2 px-4 border"><%= tx.transaction_date.strftime("%Y-%m-%d") %></td>
          <td class="py-2 px-4 border"><%= tx.country %></td>
          <td class="py-2 px-4 border"><%= tx.merchant %></td>
          <td class="py-2 px-4 border"><%= tx.category %></td>
          <td class="py-2 px-4 border"><%= number_with_precision(tx.amount, precision: 2) %></td>
          <td class="py-2 px-4 border"><%= tx.currency %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
